

<Animate Animation="Animations.FadeIn" Delay="TimeSpan.FromSeconds(1.5)" >

<div class="container my-5">
    <img src="https://http.cat/404" class="img-fluid" asp-append-version="true"/>
</div>
    <text style="color:white; font-size:15px" class="font-weight-bold">
        Seite nicht gefunden
    </text>
</Animate>

<style>
    body {
        background-color: black;
        transition-duration:2s;
    }
</style>

@code {
    
}
